---
const description = "404";
import '../styles/global.css';
---
<layout>
    <div class="lost">
        <div class="png">
            <img width="600" height="518" alt="AngryCat" src="/404.png"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Watch out for the angry cat!</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>

