---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="/blog/blog-1"
            title="Blog 1"
            body="Blog content"
        />
    </ul>
</Layout>

