---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About me";
---
<Layout pageTitle={pageTitle}>

    <h2>About me</h2>

    <p>
        I am a Software Engineer and tech advocate at Dynatrace. I work with Java and C++ and do runtime code manipulation for Java.
    </p>
    <p>
        For my day-to-day job, I have to work with Java Agents and Java bytecode and sometimes I spend a bit too much time on the language specification of Java.
    </p>
    <p>
        Previously I worked with cloud video encodings and I am quite experienced with FFmpeg.
    </p>
    <p>
        When I am not sitting in front of a PC I like to go bouldering or spend time in the mountains.
        </p>
    <div>
        <img width="201" height="266" alt="AngryCat" src="/picture.png"/>
        <style>
            div {text-align: center;}
            </style>

    </div>
</Layout>

