---
interface Props {
    url: string;
    title: string;
}

const { url, title } = Astro.props;
---
<li class="card">
    <a class="card__link" href={url}>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__txt">
        </p>
    </a>
</li>

