---
const year = new Date().getFullYear();
---
<footer>
    <div class="center">
        <ul class="footer">
            <li class="icon__btn"><a class="icon__link" href="https://github.com/ReneThu" target="_blank"><span class="git-icon">GitHub</span></a></li>
            <li class="icon__btn"><a class="icon__link" href="https://www.linkedin.com/in/marco-sussitz-639315172/" target="_blank"><span class="linked-in">LinkedIn</span></a></li>
        </ul>
    </div>
</footer>

